* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    height: 100%;
    font-family:cursive;
}

.background {
    background-image: url('imágenes/FONDO.jpeg'); /* Cambia por la ruta de tu imagen */
    background-size: cover;
    background-position: center;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content {
    text-align: center;
    color: white;
    background: rgba(0, 0, 0, 0.5); /* Fondo oscuro translúcido */
    padding: 20px;
    border-radius: 10px;
}

h1 {
    font-size: 3rem;
    margin-bottom: 20px;
}

p {
    font-size: 1.2rem;
    margin-bottom: 30px;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-bottom: 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 1rem;
    transition: color 0.3s;
}

nav ul li a:hover {
    color: #ddd;
}

.social a img {
    width: 30px;
    margin: 0 10px;
    transition: transform 0.3s;
}

.social a img:hover {
    transform: scale(1.1);
}
